.chip {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 15px;
    background-color: #f1f1f1;
    margin-left: 5px;
    margin-bottom: 5px;
}
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 18px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}


.multiselect-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;

    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
    z-index: 2;  
}
.multiselect-header {
    position: relative;
    width: 100%;
    max-height: 70px;
    border: none !important;
    outline: none !important;
    background-color: transparent;
    overflow: auto;
}

.mutliSelect-content {
   
  /* Size & position */
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow: auto;
    z-index: 100;
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;


    .multiselect-filter {
        
        width: 90%;
        margin: 10px 10px 0px 10px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
    }

    ul {
        max-height: 120px;
        overflow: auto;
        border: 0;
        color: #000;
         left: 0px;
         padding: 2px 15px 2px 5px;
         position: relative;
         list-style: none;
         overflow: auto;
    }
}
    