
<div class="multiselect-wrapper">
    <div  class="multiselect-header" (click)="this.expanded = !this.expanded" #header>
        <span *ngIf="!selectedValues.length"> Select Some Value</span>
        <div class="chip" *ngFor="let value of selectedValues">
            {{value.name}}
            <span class="closebtn" (click)="removeValue($event, value)">&times;</span>
        </div>
    </div>
    <div class="mutliSelect-content" *ngIf="expanded">
    <input type="text" class="multiselect-filter" [(ngModel)]= "filterString" >
    <hr>
    <ul>
        <li *ngFor="let option of options | multiselectfilter:filterString">
            <input type="checkbox" [checked]="isChecked(option)" value="option" (click)="toggleValue(option, checkbox)" #checkbox>
            {{option.name}}
        </li>
    </ul>
</div>
</div>
    

